* {
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}
